body {
    margin: 0;
    margin-top: 50px;
	font-family: sans-serif; /* Add this line */
}

section {
    height: 90vh;
    border: 0px solid black;
}

#edu {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/coderprofile.jpg');
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}


header a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
	color: white;
    padding: 0px;
	background-color: #000000 ;
}

#particles-js{
	height:100%;
	background: #4d1c32;
}


h1{
	position:relative;
	text-align:center;
	color:white;
}